# Generated CMake files
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake

# IDE metadata
.idea/
.settings/
.cproject
.project

# Possible names for binary directories
bin/
cmake-build-*/
out/
build/
